@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font: 16px Arial, "맑은 고딕", ;
}


header .logo {
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header .logo > div {
    width: 140px;
    height: 140px;
    background: #ccc;
    margin: 0 auto;
} */

header .menu {
    background: #1B3440;
    /* height: 55px; */
}
header .menu .mainmenu {
    width: 100%;
    max-width: 1280px;
    height: 55px;
    margin: 0 auto;
}
header .menu .mainmenu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .mainmenu > ul > li {
    position: relative;
    flex: 1 1 20%;
}
header .menu .mainmenu > ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 55px;
    color: #fff;
}
header .menu .mainmenu > ul > li:hover > a, header .menu .mainmenu ul li .submenu li:hover a {
    background: #112128;
    color: #fff;
}
header .menu .mainmenu > ul:hover .submenu {
    /* display: block; */
    height: 180px;
}
header .menu .mainmenu .submenu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 55px;
    height: 0;
    overflow: hidden;
    display: block;
    z-index: 55;
    transition: height 0.5s;
    background: #fff;
}
header .menu .mainmenu .submenu li a {
    display: block;
    text-align: center;
    line-height: 45px;
    color: #1B3440;
}
/* header */



.slide {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 500px;
    margin: 0 auto;
    background: #bbb;
    /* overflow: hidden; */
}
.slide .slide_img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    width: 1280px;
    height: 500px;
    overflow: hidden;
}
.slide .slide_img li {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* background: url(../images/slide_01_1.jpg) center/100% no-repeat; */
}
/* .slide .slide_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */
.slide .btn {
    position: absolute;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide .btn li span {
    font-size: 50px;
    margin: 0 20px 0 20px;
    color: #ccc;
    cursor: pointer;
}
.swiper-container {
    width: 1280px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    /* -webkit-box-pack: center; */
    /* -ms-flex-pack: center;
    -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: center;
}
.swiper-slide img {
    width: 100%;
}
/* slide */



.event {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    /* width: 1280px; */
    height: 300px;
    margin: 20px auto 0;
    /* background: #ccc; */
}
.event ul {
    width: 1090px;
    display: flex;
    justify-content: space-between;
}
/* .event ul li {
    width: 27%;
} */
.event ul li:first-of-type {
    margin-left: 10px;
}
.event ul li:last-of-type {
    margin-right: 10px;
}
.event ul li h2 {
    text-align: center;
    margin: 0 0 10px 0;
}
.event ul li a {
    position: relative;
    display: block;
    width: 280px;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
    /* background: #000; */
}
.event ul li a::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 280px;
    height: 240px;
    background: #000;
    opacity: 0;
}
.event ul li a:hover::after {
    opacity: 0.3;
}
.event ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top ; */
}
/* event */



.contents {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 60px auto 0;
}
.contents .animal h2 {
    text-align: center;
    line-height: 50px;
}
.contents .animal .more {
    width: 80%;
    margin: 0 auto 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 0;
}
.contents .animal .more span {
    position: absolute;
    top: 49px;
    left: 90%;
}
.contents .animal > ul {
    /* width: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contents .animal > ul > li {
    width: 300px;
    /* height: 400px; */
    /* padding: 10px; */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}
.contents .animal > ul > li .desc {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents .animal > ul > li .desc p:first-of-type {
    display: block;
    width: 150px;
}
.contents .animal > ul > li .desc ul {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.contents .animal > ul > li .desc ul li {
    width: 50%;
    font-size: 15px;
    /* text-align: center; */
}
.contents .animal > ul > li p:first-of-type {
    flex: 0 1 20%;
    /* margin-bottom: 20px; */
}
.contents .animal > ul > li p a {
    display: block;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.contents .animal > ul > li p a:hover img {
    transform: scale(120%);
}
.contents .animal > ul > li p img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: left center;
    transition: 0.5s;
}
.contents .animal > ul > li p {
    font-size: 14px;
}
/* contents */



.contents .building {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 0;
}
.contents .building h2 {
    text-align: center;
    line-height: 50px;
}
.contents .building .more {
    width: 80%;
    margin: 0 auto 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 0;
}
.contents .building .more span {
    position: absolute;
    top: 49px;
    left: 90%;
}
.contents .building ul {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contents .building ul li {
    position: relative;
    flex:  0 1 20%;
}
.contents .building ul li a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    content: "";
    background: #000;
    opacity: 0;
    border-radius: 10px;
}
.contents .building ul li:hover a::after {
    opacity: 0.3;
}
.contents .building ul li img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}
.contents .building ul span {
    color: #bbb;
}
.contents .building ul span:first-of-type {
    position: absolute;
    left: 0;
    top: 126px;
    font-size: 50px;
}
.contents .building ul span:last-of-type {
    position: absolute;
    right: 0;
    top: 126px;
    font-size: 50px;
}
/* building */



.review {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 60px;
}
.left {
    width: 45%;
}
.left > ul {
    width: 490px;
}
.left > ul .notice {
    width: 100%;
}
.left > ul .notice h2 {
    text-align: center;
}
.left > ul .notice .more {
    position: relative;
    width: 95%;
    margin: 0 auto 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 0;
}
.left > ul .notice .more span {
    position: absolute;
    top: 0;
    right: -15px;
}
.left > ul .notice ul li {
    width: 100%;
}
.left > ul .notice ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
}
.left > ul .notice ul li a span {
    display: block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left > ul .edu {
    margin-top: 50px;
}
.left > ul .edu h2 {
    text-align: center;
}
.left > ul .edu .more {
    position: relative;
    width: 95%;
    margin: 0 auto 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 0;
}
.left > ul .edu .more span {
    position: absolute;
    top: 0;
    right: -15px;
}
.left > ul .edu ul li {
    width: 100%;
}
.left > ul .edu ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
}
.left > ul .edu ul li a span {
    display: block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right {
    width: 45%;
    
}
.right .r_size {
    width: 490px;
    margin: 0 auto;
}
.right .r_size > h2 {
    text-align: center;
}
.right .r_size > .more {
    position: relative;
    width: 95%;
    margin: 0 auto 29px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 0;
}
.right .r_size > .more span {
    position: absolute;
    top: 0;
    right: -15px;
}
.right .r_size ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.right .r_size ul li {
    flex: 1 1 33%;
    /* margin-bottom: 20px; */
}
.right .r_size ul li .desc ul {
    width: 130px;
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
}
.right .r_size ul li .desc ul li {
    padding: 5px 0 20px 0;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right .r_size ul li p a {
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
}
.right .r_size ul li p a img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: left;
}
/* review */



footer {
    background: #1B3440;
    height: 100px;
    margin-top: 100px;
}
footer .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
footer .foot p {
    font-size: 13px;
    color: #ccc;
}
footer .foot p:nth-of-type(1) {
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
}
footer .foot p:nth-of-type(2) {
    color: #fff;
}