@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font: 16px;
}

/* #wrap {

    margin: 0 auto;
} */
header .logo {
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu {
    background: #1B3440;
    /* height: 55px; */
}
header .menu .mainmenu {
    width: 100%;
    max-width: 1280px;
    height: 55px;
    margin: 0 auto;
}
header .menu .mainmenu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .mainmenu > ul > li {
    position: relative;
    flex: 1 1 20%;
}
header .menu .mainmenu > ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 55px;
    color: #fff;
}
header .menu .mainmenu > ul > li:hover > a, header .menu .mainmenu ul li .submenu li:hover a {
    background: #112128;
    color: #fff;
}
header .menu .mainmenu > ul:hover .submenu {
    /* display: block; */
    height: 180px;
}
header .menu .mainmenu .submenu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 55px;
    height: 0;
    overflow: hidden;
    display: block;
    z-index: 1;
    transition: height 0.5s;
    background: #fff;
}
header .menu .mainmenu .submenu li a {
    display: block;
    text-align: center;
    line-height: 45px;
    color: #1B3440;
}
/* header */



.slide {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 300px;
    margin: 0 auto;
    background: #bbb;
}
.slide a {
    width: 100%;
    height: 100%;
}
/* .slide .btn {
    position: absolute;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* .slide .btn li span {
    font-size: 50px;
    margin: 0 20px 0 20px;
    color: #ccc;
} */

/* contents */



.contents {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 60px auto 0;
}
.contents .work h2 {
    text-align: center;
    line-height: 50px;
}
.contents .work .more {
    width: 80%;
    margin: 0 auto 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 0;
}
.contents .work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contents .work ul li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}
.contents .work ul li p:first-of-type {
    flex: 0 1 20%;
    /* margin-bottom: 20px; */
}
.contents .work ul li p img {
    width: 260px;
    height: 155px;
    /* border-radius: 10px 10px 0 0; */
}
.contents .work ul li p {
    font-size: 14px;
    text-align: center;
}
/* contents */



footer {
    background: #1B3440;
    height: 100px;
    margin-top: 100px;
}
footer .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
footer .foot p {
    font-size: 13px;
    color: #ccc;
}
footer .foot p:nth-of-type(1) {
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
}
footer .foot p:nth-of-type(2) {
    color: #fff;
}
/* footer */